@font-face {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    src: 
    url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format(truetype),
    url('assets/fonts/static/Inter-Regular.ttf') format(truetype);
}

:root {
    --ff: "Inter", sans-serif;
    --fs-p: clamp(1.5rem, 1.3239rem + 0.4695vw, 2rem);
    --fw-light: 400;
    --fw-regular: 700;
    --fw-bold: 800;
    --clr-orange: hsl(35, 77%, 62%);
    --clr-red: hsl(5, 85%, 63%);
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish: hsl(236, 13%, 42%);
    --clr-very-dark: hsl(240, 100%, 5%);
}

body {
    font-family: var(--ff);
    background-color: var(--clr-off-white);
    
}

.container {
    width: 100%;
    padding: 3rem 1.5rem;
    box-sizing: border-box;
    display: grid;
    gap: 3rem;
}

.hero-content {
    display: grid;
    gap: 2rem;
}

picture img {
    width: 100%;
}

picture {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    /* grid-area: picture; */
}


header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center align vertically */
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    top: 0;
    right: 0;
    background-color: var(--clr-off-white);
    width: 70vw;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%); /* Hidden off-screen */
    transition: transform 0.3s ease;
}


/* When menu is open */
.backdrop.open {
    display: flex;
}

/* When the menu is open, bring nav-links into view */
.backdrop.open .nav-links {
    transform: translateX(0); /* Move into view */
}


h1 {
    font-size: clamp(4rem, 3.2958rem + 1.8779vw, 6rem);
    font-weight: var(--fw-bold);
}

.flex-p p{
    padding-top: 2rem;
    line-height: 1.5;
    font-size: var(--fs-p);
    color: var(--clr-dark-grayish);
    font-weight: var(--fw-light);
}

.cta {
    margin-top: 2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark);
    background-color: var(--clr-red);
    padding: 1.5rem 2.5rem;
}

.cta:hover {
    color: var(--clr-off-white);
    background-color: var(--clr-very-dark);
    cursor: pointer;
}

aside {
    background-color: var(--clr-very-dark);
    padding: 2.5rem 2rem;
    font-size: 1.6rem;
    margin-block: 3rem;
    /* grid-area: aside; */
}

h2 {
    color: var(--clr-orange);
    font-size: 3rem;
    
}

aside h3 {
    color: var(--clr-off-white);
    font-size: 2rem;
    padding-top: 2.7rem;
}

aside p{
    color: var(--clr-grayish-blue);
    padding-top: 1.2rem;
    font-size: --fs-p;
    line-height: 1.7;
    opacity: .7;
    font-weight: var(--fw-light);
}

hr {
    margin-top: 2.7rem;
    opacity: .4;
}

article {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 4rem;
    /* grid-area: article; */
}

.card{
    display: flex;
    gap: 2rem;
}

.card img{
    width: 10rem;
    height: auto;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.numbers{
    color: var(--clr-red);
    font-weight: var(--fw-bold);
    font-size: 3rem;
}

.card-text-p {
    font-size: var(--fs-p);
    color: var(--clr-dark-grayish);
    font-weight: var(--fw-regular);
    opacity: .8;
    line-height: 1.7;
}

h4 {
    font-weight: var(--fw-bold);
    font-size: 1.8rem;
}

nav img {
    cursor: pointer;
    display: block;
}

.menu-close {
    display: none;
    width: 3rem;
    cursor: pointer;
    align-self: flex-end;
    padding-bottom: 8rem;
}

.backdrop.open .menu-close {
    display: block; /* Show close button only when menu is open */
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.nav-links li{
    font-size: 1.8rem;
    color: var(--clr-very-dark);
    font-weight: var(--fw-regular);
    opacity: .7;
    cursor: pointer;
}

.nav-links li:hover {
    color: var(--clr-red);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.home {
    margin-top: 10rem;
}

h4 {
    cursor: pointer;
}

h4:hover {
    color: var(--clr-red);
}

@media (min-width: 60rem){

    .menu-img, .menu-close {
        display: none;
    }

    .home {
    margin-top: 0;
    }

    .backdrop {
        display: flex;
        background: none;
        position: relative;
        width: auto;
        height: auto;
    }

    .nav-links {
        background: none;
        transform: none; /* No transform on larger screens */
        height: auto; /* Auto height */
        visibility: visible; /* Ensure visibility */
        opacity: 1; /* Ensure opacity */
        display: flex; /* Show links in a row */
        flex-direction: row; /* Horizontal layout */
        gap: 2rem; /* Space between nav items */
        list-style: none; /* Remove default list styling */
        padding: 0; /* Remove padding for better alignment */
        margin: 0; /* Ensure margin doesn’t shift links */
        cursor: pointer;
        width: auto;
    }

    picture {
        grid-area: picture;
    }
    .hero-text{
        grid-area: hero-text;
        display: flex; 
        align-items: stretch;
        align-items: center;
    }

    .flex-heading {
        width: 50%;
    }

    .flex-p {
        width: 50%;
    }

    aside {
        grid-row: aside;
        margin-block: 0;
    }

    article {
        grid-area: article;
        flex-direction: row;
        margin-top: 4rem;
    }

    .hero-content {
        grid-template-areas: 
        'picture picture aside'
        'hero-text hero-text aside'
        'article article article';
    }

} 